{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">


<img src="//s.gravatar.com/avatar/{{ author.gravatar }}?s=150" class="bio-photo" alt="A photo of {{ author.name }}">

  <h3 itemprop="name"><a href={{ site.url }}/about title="About Me!">{{ author.name }}</a></h3>
  <p>{{ author.bio }}</p>
  {% if author.email %}<a href="mailto:{{ author.email }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-envelope-square"></i> Email</a>{% endif %}
  {% if author.skype %}<a href="skype://kaje403" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-skype"></i> Skype</a>{% endif %}
  {% if author.github %}<a href="https://github.com/{{ author.github }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-github"></i> Github</a>{% endif %}
  {% if author.twitter %}<a href="https://twitter.com/{{ author.twitter }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-twitter-square"></i> Twitter</a>{% endif %}
  {% if author.facebook %}<a href="https://facebook.com/{{ author.facebook }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-facebook-square"></i> Facebook</a>{% endif %}
  {% if author.google.plus %}<a href="https://plus.google.com/+{{ author.google.plus }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-google-plus-square"></i> Google+</a>{% endif %}
  {% if author.resume %}<a href="{{ site.url }}/{{ author.resume }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-file-code-o"></i> Resume</a>{% endif %}
  {% if author.hire %}<a href="{{ site.url }}/{{ author.hire }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-usd"></i> Hire Me</a>{% endif %}
  {% if author.keybase %}<a href="https://keybase.io/{{ author.keybase }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-key"></i> Keybase</a>{% endif %}
  {% if author.linkedin %}<a href="https://linkedin.com/in/{{ author.linkedin }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-linkedin-square"></i> LinkedIn</a>{% endif %}
  {% if author.xing %}<a href="https://www.xing.com/profile/{{ author.xing }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-xing-square"></i> XING</a>{% endif %}
  {% if author.instagram %}<a href="https://instagram.com/{{ author.instagram }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-instagram"></i> Instagram</a>{% endif %}
  {% if author.tumblr %}<a href="https://{{ author.tumblr }}.tumblr.com" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-tumblr-square"></i> Tumblr</a>{% endif %}
  {% if author.stackoverflow %}<a href="https://stackoverflow.com/users/{{ author.stackoverflow }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-stack-overflow"></i> Stackoverflow</a>{% endif %}
  {% if author.lastfm %}<a href="https://lastfm.com/user/{{ author.lastfm }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-music"></i> Last.fm</a>{% endif %}
  {% if author.dribbble %}<a href="https://dribbble.com/{{ author.dribbble }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-dribbble"></i> Dribbble</a>{% endif %}
  {% if author.pinterest %}<a href="https://www.pinterest.com/{{ author.pinterest }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-pinterest"></i> Pinterest</a>{% endif %}
  {% if author.foursquare %}<a href="https://foursquare.com/{{ author.foursquare }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-foursquare"></i> Foursquare</a>{% endif %}
  {% if author.steam %}<a href="https://steamcommunity.com/id/{{ author.steam }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-steam-square"></i> Steam</a>{% endif %}
  {% if author.youtube %}<a href="https://youtube.com/user/{{ author.youtube }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-youtube-square"></i> Youtube</a>{% endif %}
  {% if author.soundcloud %}<a href="https://soundcloud.com/{{ author.soundcloud }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-soundcloud"></i> Soundcloud</a>{% endif %}
  {% if author.weibo %}<a href="https://www.weibo.com/{{ author.weibo }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-weibo"></i> Weibo</a>{% endif %}
  {% if author.flickr %}<a href="https://www.flickr.com/{{ author.flickr }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-fw fa-flickr"></i> Flickr</a>{% endif %}
</div>
