---
layout: compress
---
<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
{% include _search.html %}
</head>

<body class="post">
{% include _snowstrorm.html %}
{% include _os-upgrade.html %}
{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
    <br>
    {% include _adsblockbypass.html %}
    {% include _ads.html %}
  </div>
  <article class="post">
    {% include _ads.html %}
    <br>
    <div class="headline-wrap">
      {% if page.link %}
        <h1><a href="{{ page.link }}">{{ page.title }}</a></h1>
      {% else %}
        <h1><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
      {% endif %}
      <ul class="tag-box">
        {% for tag in page.tags %}
          <a href="/tag/#{{ page.category }}{{ tag | replace: ' ','+' }}">{{ tag }}</a>
        {% endfor %}
      </ul>
      {% include _reading-time.html %}
    </div><!--/ .headline-wrap -->
    <div class="article-wrap">
      {{ content }}
      {% include _subscribe.html %}
      {% include _kudosplease.html %}
      <br><br><br>
      {% include _ads.html %}
      <br>
      <h3>Post Navigation</h3>
        {% if page.categories %}
          {% assign category = page.categories[0] %}
          {% assign posts = site.categories[category] %}
          {% for post in posts %}
            {% if post.url == page.url %}
              {% assign post_index0 = forloop.index0 %}
              {% assign post_index1 = forloop.index %}
            {% endif %}
          {% endfor %}
          {% for post in posts %}
            {% if post_index0 == forloop.index %}
              {% assign next_post = post %}
            {% endif %}
            {% if post_index1 == forloop.index0 %}
              {% assign prev_post = post %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if prev_post %}
          <a class="btn" rel="prev" href="{{ prev_post.url }}"><i class="fa fa-chevron-circle-left"></i> {{ prev_post.title }}</a>
        {% endif %}
        {% if next_post %}
          <a class="btn" rel="next" href="{{ next_post.url }}">{{ next_post.title }} <i class="fa fa-chevron-circle-right"></i></a>
        {% endif %}
      <hr />
      <footer role="contentinfo">
        {% if page.share != false %}{% include _social-share.html %}{% endif %}
        <p class="byline">
          <i class="fa fa-pencil-square-o"></i>
            <a href="https://github.com/edytk/edytk.github.io/edit/master/{{ page.path }}/">
              <strong>{{ page.title }}</strong>
            </a>
            was published on
            <time datetime="{{ page.date | date_to_xmlschema }}">
              {{ page.date | date: "%B %d, %Y" }}
            </time>
            {% if page.modified %}
              and last modified on
                <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}
                </time>
            {% endif %}.
        </p>
      </footer>
    </div><!-- /.article-wrap -->
  {% if site.owner.disqus-shortname and page.comments == true %}
    <section id="disqus_thread"></section><!-- /#disqus_thread -->
  {% endif %}
  </article>
</div><!-- /#main -->

<div class="footer-wrap">
  {% if site.related_posts.size > 0 %}
  <div class="related-articles">
  <h4>You might also enjoy <small class="pull-right">(<a href="{{ site.url }}/posts/">View all posts</a>)</small></h4>
    <ul>
    {% for post in site.related_posts limit:3 %}
      <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
    <hr />
  </div><!-- /.related-articles -->
  {% endif %}
  <footer>
    {% include _ads.html %}
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
